@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --red: #d65856;
    --red-01: #c68d82;
    --red-02: #dec6c1;
    --red-03: #ebe1df;
    --orange-01: #da8248;
    --orange-02: #b28b7a;
    --orange-03: #ccbcab;
    --orange-04: #f4efea;
    --gray-01: #2a2a2a;
    --gray-02: #555555;
    --gray-03: #6d6d6d;
    --gray-04: #a0a0a0;
    --gray-05: #e0e0e0;
    --gray-06: #f2f2f2;
    --gray-07: #f3f2f0;
    --background: #faf8f6;
    --foreground: var(--gray-01);
    --primary: #911a00;
    --accent: var(--red-03);
    --black: #0e0e0e;
    --white: #ffffff;
  }
}

@layer base {
  * {
    /* Root */
  }
  body {
    @apply bg-background font-pretendard text-foreground antialiased;
  }
}

body::-webkit-scrollbar {
  display: none;
}
