@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --red: 1 61% 59%;
    --red-01: 10 37% 64%;
    --red-02: 10 31% 81%;
    --red-03: 10 23% 90%;
    --orange-01: 24 66% 57%;
    --orange-02: 18 27% 59%;
    --orange-03: 31 24% 74%;
    --orange-04: 30 31% 94%;
    --gray-01: 0 0% 16%;
    --gray-02: 0 0% 33%;
    --gray-03: 0 0% 43%;
    --gray-04: 0 0% 63%;
    --gray-05: 0 0% 88%;
    --gray-06: 0 0% 95%;
    --gray-07: 40 11% 95%;
    --background: #faf8f6;
    --foreground: var(--gray-01);
    --primary: 11 100% 28%;
    --secondary: 10 23% 90%;
    --accent: var(--primary);
    --muted: var(--orange-04);
    --light: var(--gray-05);
    --input: var(--gray-06);
    --ring: var(--primary);
    --black: 0 0% 5%;
    --white: 0 0% 100%;
  }
}
@layer base {
  * {
    /* Root */
  }
  body {
    @apply bg-background font-pretendard text-foreground antialiased;
  }
}

/* 모든 요소의 스크롤바 숨기기 */
* {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}

/* Safari and Chrome */
*::-webkit-scrollbar {
  display: none;
}
